.fieldset__legend {
  width: 26.25rem;
  margin-bottom: 3.375rem;
}

.heading--lg.footer--text-fieldset-heading {
  color: $text-color-secondary;
}

.fieldset__input {
  width: 26.25rem;
  margin-bottom: 1.5rem;
}
