.header-info__heading {
  max-width: 47.875rem;
  padding-bottom: 1.25rem;
}

.heading-info__text {
  max-width: 26.875rem;
}

.header-info__button {
  margin-top: 2.5rem;
}

.header-info--button {
  max-width: 18.75rem;
  min-height: 3.75rem;
}
